<section class="h-svh flex items-center" id="contact">
    <div class="max-w-lg mx-auto text-center">
        <div appScrollAnimation>
            <h3 class="font-code text-secondary text-base">
                05. {{ "Contact.Pretitle" | translate }}
            </h3>
            <h4 class="text-light text-5xl font-semibold my-4">
                {{ "Contact.Title" | translate }}
            </h4>
        </div>
        <p appScrollAnimation>
            {{ "Contact.Content" | translate }}
        </p>
        <div class="mt-6" appScrollAnimation>
            <a
                href="mailto:andresjosehr@gmail.com"
                target="_blank"
                class="main-btn"
            >
                {{ "Contact.Btn" | translate }}
            </a>
        </div>
    </div>
</section>
