<section class="min-vh-100 d-flex align-items-center" id="contact">
    <div class="container mw-lg mx-auto text-center">
        <div data-aos="fade-up" data-aos-duration="1000">
            <h3 class="font-code text-secondary fs-6">
                05. {{ "Contact.Pretitle" | translate }}
            </h3>
            <h4 class="text-light fs-xl fw-semibold my-4">
                {{ "Contact.Title" | translate }}
            </h4>
        </div>
        <p data-aos="fade-up" data-aos-duration="1000">
            {{ "Contact.Content" | translate }}
        </p>
        <div class="mt-5" data-aos="fade-up" data-aos-duration="1000">
            <a
                href="mailto:andresjosehr@gmail.com"
                target="_blank"
                class="main-btn"
                data-aos="fade-up"
                data-aos-duration="1000"
            >
                {{ "Contact.Btn" | translate }}
            </a>
        </div>
    </div>
</section>
