<nav class="w-full h-full">
    <ul class="flex flex-col gap-y-4 items-center">
        @for(item of navbarItems; track item.name) {
            <li class="text-base text-light dark:text-light-dark" @itemAnimation>
                <a>
                    <span class="text-secondary dark:text-secondary-dark">01. </span> {{item.name}}
                </a>
            </li>
        }
        <li @itemAnimation>
            <a class="main-btn cv-btn">
                {{"Header.cvBtn"}}
            </a>
        </li>
    </ul>
</nav>

