<section id='about' class="min-vh-100 d-flex align-items-center">
    <div class="container h-100">
        <app-section-title [index]="1" [title]="'AboutMe.Title' | translate"></app-section-title>
        <div class="grid gy-5 gx-5">
            <div class="g-col-12 g-col-md-6 mw-lg">
                @for (text of "AboutMe.Paragraphs" | translate; track text) {
                    <p [innerHTML]="text" data-aos="fade-up" data-aos-duration="1000"></p>   
                }
                <app-skill-list></app-skill-list>
            </div>
            <div class="g-col-12 g-col-md-6 text-center" data-aos="fade-up" data-aos-duration="1000">
                <!-- <div class="about-img-container">
                    <img class="rounded" width="400" height="300" src="assets/images/me4.jpg" alt="José Andrés">
                </div> -->
            </div>
        </div>
    </div>
</section>
