@import "variables";

.about-img-container{
    width: 324px;
    margin: auto;

    &:after{
        content: '';
        border: 2px solid $Green;
        z-index: 0;
        display: block;
        position: relative;
        width: 394px;
        height: 305px;
        border-radius: 3px;
        bottom: 290px;
        left: 23px;

    }

    img{
        z-index: 2;
        position: relative;
    }
}

