@import "variables";

.main-navbar {
    height: 70px;
    background: $Navy;
    font-family: $CodeFont;

    .cv-btn{
      padding: 7px 15px !important;
    }
    .nav-link {
        padding: 5px 0px;
        color: inherit;
        margin: 0px;
        font-size: 13px;
        &:hover {
            color: $Green;
        }
    }
}

.on-top {
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 1;
    height: 100px;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.nav-shadow {
    height: 70px;
    box-shadow: 0 10px 30px -10px rgba(2, 12, 27, 0.7);
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.menu--sm {
    display: none;
}

@media (max-width: 1000px) {
    .main-navbar {
        .nav-link {
            margin: 0;
            padding: .5rem .7rem;
        }
    }
}

@media (max-width: 827px) {
    .menu--md {
        display: none;
    }

    .menu--sm {
        display: block;
    }
}

@media (min-width: 827px) {
    .menu-wrapper,
    .menu-responsive {
        display: none;
    }
}
