<nav class="fixed py-6 bg-gray w-full top-0 z-10 transition-all duration-200 dark:bg-blue" [class.nav-shadow]='this.scrollY > 0'>
    <div [@animateMenu] class="max-w-full mx-auto px-6 flex items-center justify-between sm:max-w-7xl">
        <a routerLink="/">
            <img src='assets/images/logo.png' width='25' alt="logo" />
        </a>
        <div class="flex items-center font-mono">
            <div class="hidden sm:block">
                <app-navbar></app-navbar>
            </div>
            <div class="block sm:hidden">
                <app-aside [(opened)]="asideOpened"></app-aside>
                <app-hamburger [(opened)]="asideOpened"></app-hamburger>
            </div>
        </div>
    </div>
</nav>
