<section class="h-lvh" id="hero">
    <!-- [@bannerTrigger] -->
    <div class="h-full flex items-center">
        <div>
            <div>
                <h1 class="font-mono text-accent text-base dark:text-accent-dark">{{"Banner.Pretitle" | translate}}</h1>
                <h2 class="text-blue text-5xl font-semibold leading-snug dark:text-white">José Hernández.</h2>
                <h3 class="text-blue-light text-4xl font-semibold leading-snug dark:text-blue-lighter">Software Developer</h3>
                <p [innerHTML]='"Banner.Description" | translate' class="mb-8 max-w-md"></p>
            </div>
            <div>
                <a href="mailto:andresjosehr@gmail.com" target="_black" class="main-btn">
                    {{"Banner.ActionBtn" | translate}}
                </a>
            </div>
        </div>
    </div>
</section>
