owl-carousel-o {
    @apply w-full shadow;

    // .owl-item {
    //     @apply rounded;
    // }
}

.project {
    @apply flex flex-col-reverse;
    max-height: unset;

    &--left, &--right {
        .project-info {
            @apply m-0;
        
            h4, h5 {
                @apply text-start;
            }

            ul {
                @apply justify-start;
            }
        }
    }

    .project-description {
        @apply p-0;
    }
}

@screen sm {
    .project {
        @apply flex max-h-lg;
        
        &--left {
            @apply flex-row;
    
            .project-info {
                @apply mr-0 -ml-14;
    
                h4, h5 {
                    @apply text-end
                }
    
                ul {
                    @apply justify-end;
                }
            }
    
            .project-links {
                text-align: end;
            }
        }
    
        &--right {
            @apply flex-row-reverse;
    
            .project-info {
                @apply ml-0 -mr-14;
    
                h4, h5 {
                    @apply text-start;
                }
    
                ul {
                    @apply justify-start;
                }
            }
    
            .project-links {
                @apply text-start;
            }
        }
    }
    
    owl-carousel-o {
        @apply max-w-3xl;
    }
}

/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #8892b0;
    border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    @apply bg-accent dark:bg-accent-dark;
    border-radius: 3px;
}


/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    @apply bg-accent dark:bg-accent-dark;
}