<div class="project" [class.project--left]="even()" [class.project--right]="!even()" appScrollAnimation>
    <owl-carousel-o [options]="customOptions">
        @for(image of project().images; track image + i; let i = $index) {
            <ng-template carouselSlide [id]="project().Title + i">
                <div class="overflow-auto rounded max-h-lg">
                    <img class="rounded" [src]="image" [alt]="project().Title">
                </div>
            </ng-template>
        }
    </owl-carousel-o>
    
    <div class="project-info">
        <div class="flex flex-col">
            <h4 class="mt-2 text-accent font-mono font-normal text-base dark:text-accent-dark">{{"FeatureProjects.Label" | translate}}</h4>
            <h5 class="text-blue my-3 text-5xl dark:text-gray">{{project().Title}}</h5>
            <div class="rounded p-6 shadow-md bg-blue-lighter dark:bg-blue-light">
                <p class="text-lg" [innerHTML]="project().Description"></p>
            </div>
            <ul class="my-4 flex gap-x-4">
                @for(technology of project().Technologies; track technology) {
                    <li class="text-sm underline">
                        {{technology}}
                    </li>
                }
            </ul>
            <div class="project-links">
                <!-- <a *ngIf="project['ghLink']" style='color: inherit' [href]="project['ghLink']" target="_blank"><i class="ml-3 fab fa-github"></i></a>
                <a *ngIf="project['demoLink']" style='color: inherit' [href]="project['demoLink']" target="_blank"><i class="ml-3 fas fa-external-link-alt"></i></a> -->
            </div>
        </div>
    </div>
</div>