@import "variables";

.project-info {
    &--left {
        margin-right: -57px;
        margin-left: 0px;
    }

    &--right {
        margin-left: -57px;
        margin-right: 0px;
    }
}

owl-carousel-o {
    width: 600px;
}

/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #8892b0;
    border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $Green;
    border-radius: 3px;
}


/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $Green;
}