@import "variables";

div {
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    z-index: 2;
    background-color: $LightNavy;
}

aside {
    width: 75vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    margin-left: auto;
    font-family: $CodeFont;
    box-shadow: rgba(2, 12, 27, 0.7) -10px 0px 30px -15px;
    padding: 25px;
}
