<div class="mt-4 flex gap-x-8" data-aos="fade-up" data-aos-duration="1000">
    <ul
        class="job-list nav-tabs mt-0"
    >
    @for (job of 'Experience.Jobs' | translate; track job.Tab; let idx = $index) {
        <li
            [class.active]="idx === active()"
            class="cursor-pointer py-2 px-4 border-l-2 border-lighter dark:border-lighter-dark
            text-lighter transition-all duration-300 dark:text-lighter-dark
            hover:text-secondary hover:dark:text-secondary-dark hover:bg-secondary-bg hover:dark:bg-secondary-bg-dark" 
            (click)="active.set(idx)"
        >
            <a class="text-base">{{ job.Tab }}</a>
        </li>
    }
    </ul>
    <div class="mt-2">
        @for (job of 'Experience.Jobs' | translate; track job.Tab; let idx = $index) {
            @if (idx === active()) {
                <div @jobListTrigger>
                    <h4 class="m-0 text-3xl text-light font-medium">
                        {{ job.Title }} | <span class="text-secondary">{{ job.Tab }}</span>
                    </h4>
                    <h5 class="m-0 mb-4 text-lighter font-code text-sm font-normal tracking-wider dark:text-lighter-dark">{{ job.Date }}</h5>
                    @for (jobDescriptionParagraph of job.Description; track jobDescriptionParagraph) {
                        <p class="relative text-lg my-2 pl-4 " [innerHTML]="jobDescriptionParagraph | translate"></p>
                    }
                </div>
            }
        }
    </div>
</div>