
@import "variables";

@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

* {
  box-sizing: border-box;
}

body {
  background-color: $Navy;
  color: $Slate;
  font-family: $MainFont;
  font-size: 1.25rem;
  line-height: 1.3;
}

ul {
  list-style: none;
}

.section-title {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 10px 0 40px;
  width: 100%;
  white-space: nowrap;
  font-size: 32px;
  font-weight: 600;
  color: $LightestSlate;
  font-family: $MainFont;
  margin: 0 0 10px 0;

  .n-section-title {
    margin-right: 10px;
    font-family: $CodeFont;
    font-weight: normal;
    color: $Green;
    font-size: 20px;
    position: relative;
    bottom: 4px;
  }

  &:after {
    content: "";
    display: block;
    height: 1px;
    width: 100px;
    background-color: $LightestNavy;
    position: relative;
    top: -5px;
    margin-left: 20px;
  }
}

.main-btn {
  color: $Green;
  background-color: transparent;
  border: 1px solid $Green;
  border-radius: 3px;
  font-size: 13px;
  font-family: $CodeFont;
  line-height: 1;
  -webkit-text-decoration: none;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding: 1.25rem 1.75rem;

  &:hover,
  &:focus,
  &:active {
    background-color: rgba(100, 255, 218, 0.07);
    outline: none;
  }
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
    color: $Green;
  }
}

.underline {
  text-decoration: none;
  display: inline-block;
  position: relative;
  color: $Green !important;
}
.underline:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 3px;
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  background: $Green;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0%;
}
.underline:hover:after {
  width: 100%;
  left: 0;
}

@media (max-width: 768em) {
  .section-title {
    font-size: 24px;
  }
}

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

$enable-grid-classes: false;
$enable-cssgrid: true;
$enable-negative-margins: true;

.font-base {
  font-family: $font-family-base;
}

.font-code {
  font-family: $font-family-code;
}

$font-sizes: map-merge(
  $font-sizes,
  (
    'xs': .75rem,
    'sm': .875rem,
    'xl': 4rem,
    '2xl': 5rem,
  )
);

$spacers: map-merge(
  $spacers,
  (
    '7': 3rem,
    '8': 4rem,
    '9': 6rem,
    '10': 10rem,
    '12': 12rem,
  )
);

$max-widths: (
  'lg': 32rem,
  'xl': 40rem,
  '2xl': 48rem
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
);

@each $name, $size in $max-widths {
  .mw-#{$name} {
    max-width: $size !important;
  }
}

$letter-spacings: (
  'tight': -0.05em,
  'wide': 0.05em
);

@each $name, $size in $letter-spacings {
  .tracking-#{$name} {
    letter-spacing: $size !important;
  }
}

$line-height-sm: 1.1;

@import "bootstrap/scss/bootstrap-utilities";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";
